html,body{
  font-family: 'Inter', sans-serif;
  letter-spacing: -0.02em;
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  padding: 0;
}
body{
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  box-sizing: border-box;
}
#wrapper{
  margin: 0;
  flex: 1;
}

footer {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  background: #333;
  color: white;
  text-align: center;
}
footer p{
  margin: 0;
  padding: 2px;
}
#btn-container{
  width: 90vmin;
  display: flex;
  flex-wrap:wrap;
  align-items: center;
  justify-content: center;
  gap: 18px;
  margin-bottom: 20px;
  margin-top: 0px;
}
.button{
  padding: 5px 10px;
  border-radius: 8px;
  background-color: antiquewhite;
  color: blueviolet;
}
.button.active{
  background-color: blueviolet;
  color: antiquewhite;
}

#grid-container {
  width: 35rem;
  height: 35rem;
  max-width: 90vw;
  max-height: 90vw;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid #333;
  touch-action: none;
  user-select: none;
  margin-bottom: 10px;
}

.grid-box {
  box-sizing: border-box;
  border: 1px dotted #eee;
}